@font-face {
  font-family: 'NanumBarumGothic';
  src: url('/styles/fonts/NanumBarunGothic.eot');
  src: url('/styles/fonts/NanumBarunGothic.woff') format('woff'), url('/styles/fonts/NanumBarunGothic.ttf') format('truetype');
  
  /* IE9 Compat Modes */
}
@font-face {
  font-family: 'NanumGothic';
  src: url('/styles/fonts/NanumGothic.eot');
  src: url('/styles/fonts/NanumGothic.woff') format('woff'), url('/styles/fonts/NanumGothic.ttf') format('truetype');
  
  /* IE9 Compat Modes */
}
body {
  font-family: 'NanumGothic', Helvetica, sans-serif;
}
h1 {
  font-size: 30pt;
}
h3 {
  font-size: 12pt;
}
h1,
h2,
h3 {
  letter-spacing: -2;
}
#container {
  width: 100%;
  min-height: 400px;
}
#container .uni-width {
  width: 950px;
  margin: 0 auto;
}
#container #top-most-bar {
  background: #414141;
  color: white;
  font-size: 10pt;
  letter-spacing: -2;
}
#container #top-most-bar .uni-width {
  padding: 8px 0 8px 0;
}
#container #nav-bar {
  background: white;
  height: 80px;
  color: #414141;
}
#container #nav-bar .uni-width {
  position: relative;
}
#container #nav-bar-logo {
  position: absolute;
  top: 14px;
}
#container #nav-bar-nav {
  position: absolute;
  top: 32px;
  right: 0px;
}
#container #person {
  height: 300px;
}
#container #person .uni-width {
  position: relative;
}
#container #person .block1,
#container #person .block2,
#container #person .block3,
#container #person .block4,
#container #person .avar,
#container #person .title-container {
  position: absolute;
}
#container #person .block1 {
  top: 0px;
}
#container #person .block2 {
  top: 150px;
}
#container #person .block3 {
  top: 0px;
  right: 0px;
}
#container #person .block4 {
  top: 150px;
  right: 0px;
}
#container #person .avar {
  top: -110px;
  left: 370px;
}
#container #person .title-container {
  width: 490px;
  height: 190px;
  top: 110px;
  left: 230px;
}
#container #person .button {
  padding: 10px 30px;
  background: #da312f;
  color: #fbb4af;
  display: inline-block;
}
#container #social {
  height: 60px;
  background: #ededed;
}
.bx-wrapper {
  border: none;
  margin: 0;
}
.bx-pager.bx-default-pager {
  position: absolute;
  top: 350px;
  z-index: 1000;
}
