@font-face {
  font-family: 'NanumBarumGothic';
  src: url('/styles/fonts/NanumBarunGothic.eot');
  src: url('/styles/fonts/NanumBarunGothic.woff') format('woff'), url('/styles/fonts/NanumBarunGothic.ttf') format('truetype');
  
  /* IE9 Compat Modes */
}
@font-face {
  font-family: 'NanumGothic';
  src: url('/styles/fonts/NanumGothic.eot');
  src: url('/styles/fonts/NanumGothic.woff') format('woff'), url('/styles/fonts/NanumGothic.ttf') format('truetype');
  
  /* IE9 Compat Modes */
}
body {
  font-family: 'NanumGothic', Helvetica, sans-serif;
  letter-spacing: -2;
}
h1 {
  font-size: 30pt;
}
h3 {
  font-size: 12pt;
}
h1,
h2,
h3 {
  letter-spacing: -2;
}
#container {
  width: 100%;
  min-height: 400px;
}
#container .uni-width {
  width: 950px;
  margin: 0 auto;
}
#container #top-most-bar {
  background: #414141;
  color: white;
  font-size: 10pt;
  letter-spacing: -2;
}
#container #top-most-bar .uni-width {
  padding: 8px 0 8px 0;
}
#container #nav-bar {
  background: white;
  height: 80px;
  color: #414141;
}
#container #nav-bar .uni-width {
  position: relative;
}
#container #nav-bar-logo {
  position: absolute;
  top: 14px;
}
#container #nav-bar-nav {
  position: absolute;
  top: 32px;
  right: 0px;
}
#container #slider {
  position: relative;
}
#container #slider .slogan {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  padding-top: 114px;
  z-index: 1000;
}
#container #person {
  height: 300px;
}
#container #person .uni-width {
  position: relative;
}
#container #person .block1,
#container #person .block2,
#container #person .block3,
#container #person .block4,
#container #person .avar,
#container #person .title-container {
  position: absolute;
}
#container #person .block1 {
  top: 0px;
}
#container #person .block2 {
  top: 150px;
}
#container #person .block3 {
  top: 0px;
  right: 0px;
}
#container #person .block4 {
  top: 150px;
  right: 0px;
}
#container #person .avar {
  top: -110px;
  left: 370px;
  z-index: 1000;
}
#container #person .title-container {
  width: 490px;
  height: 190px;
  top: 110px;
  left: 230px;
}
#container #person .button {
  padding: 10px 30px;
  background: #da312f;
  color: #fbb4af;
  display: inline-block;
}
#container #social {
  height: 60px;
  background: #ededed;
}
#container #social .social-container {
  overflow: auto;
  position: relative;
}
#container #social .social-icons {
  margin-top: 8px;
}
#container #social .social-icons img + img {
  margin-left: 45px;
}
#container #social .title {
  position: absolute;
  top: 0px;
}
#container #activities .activities-title {
  padding: 52px 0 52px 0;
}
#container #activities .activities-articles {
  margin: 0;
  padding-bottom: 85px;
}
#container #news {
  background: #ededed;
}
#container #news .news-title {
  padding: 34px 0 34px 0;
}
#container #news .news-articles {
  margin: 0;
  padding-bottom: 85px;
}
#container #thinking .thinking {
  padding-bottom: 130px;
}
#container #thinking .thinking-title {
  padding: 36px 0 36px 0;
}
#container #thinking .thinking-item-label,
#container #thinking .thinking-item-body {
  padding: 0px;
}
#container #thinking .thinking-item-label {
  font-size: 18px;
}
#container #thinking .thinking-item-body {
  font-size: 13px;
}
#container #thinking .thinking-item p {
  margin: 0;
}
#container #first-footer {
  border-top: 1px solid #888888;
}
#container #first-footer .first-footer-slogan {
  margin-top: 50px;
}
#container #second-footer {
  background: #414141;
  padding: 30px 0 30px 0;
  color: white;
}
#container .article-block {
  border: 1px solid #a4a3a3;
  padding: 0;
  overflow: hidden;
  height: 400px;
  width: 310px;
}
#container .article-block-content {
  padding: 20px 10px 32px 10px;
}
#container .article-block-content-title {
  font-size: 18pt;
  height: 60px;
}
#container .article-block-content p {
  font-size: 10pt;
}
#container .article-block + .article-block {
  margin-left: 10px;
}
#container .thinking-item {
  border: 1px solid #888888;
  margin: 0;
  padding: 20px 10px;
}
#container .thinking-item + .thinking-item {
  margin-top: 22px;
}
.bx-wrapper {
  border: none;
  margin: 0;
}
.bx-pager.bx-default-pager {
  position: absolute;
  top: 350px;
  z-index: 1000;
}
.bx-pager-item a {
  background: url("/images/main/slide_bt.png") !important;
  width: 12px !important;
  height: 12px !important;
}
.bx-pager-link.active {
  background: url("/images/main/slide_bt_on.png") !important;
}
.bx-prev,
.bx-next {
  width: 54px !important;
  height: 54px !important;
}
.bx-prev {
  background: url("/images/main/slide_left_bt.png") !important;
  left: 25% !important;
}
.bx-next {
  background: url("/images/main/slide_right_bt.png") !important;
  right: 25% !important;
}
