extends ./layouts/master.jade

block main
	#top-most-bar
		.uni-width.text-right
			span 눈크의 선관위
	#nav-bar
		.uni-width
			#nav-bar-logo
				img(src="images/main/logo.png")
			#nav-bar-nav
				ul.list-unstyled.list-inline
					li 스센 스센스
					li 스센 스센스
					li 스센
					li 스센
					li 스센터
	#slider
		ul.bxslider.list-unstyled.list-inline
			li
				img(src="images/main/main_img01.png")
			li
				img(src="images/main/main_img02.png")
			li
				img(src="images/main/main_img03.png")
			li
				img(src="images/main/main_img04.png")
			li
				img(src="images/main/main_img05.png")
			li
				img(src="images/main/main_img06.png")
	#person
		.uni-width
			.block1
				img(src="images/main/main_1_btn_img.png")
			.block2
				img(src="images/main/main_2_btn_img.png")
			.block3
				img(src="images/main/main_3_btn_img.png")
			.block4
				img(src="images/main/main_4_btn_img.png")
			.avar
				img(src="images/main/circle_img.png")
			.title-container
				h1.text-center 흑문종의원에게 음원
				h3.text-center 신곡복지회관 인냉히새묘 팝꾼씽
				div.text-center
					span.button 팝꾼씽
