extends ./layouts/master.jade

block main
	#top-most-bar
		.uni-width.text-right
			span 눈크의 선관위
	#nav-bar
		.uni-width
			#nav-bar-logo
				img(src="images/main/logo.png")
			#nav-bar-nav
				ul.list-unstyled.list-inline
					li 홍문종 생각
					li 프레스 센터
					li 소식
					li 참여
					li 갤러리
	#slider
		.slogan
			img(src="images/main/slogan_img.png")
		ul.bxslider.list-unstyled
			li
				img(src="images/main/main_img01.png")
			li
				img(src="images/main/main_img02.png")
			li
				img(src="images/main/main_img03.png")
			li
				img(src="images/main/main_img04.png")
			li
				img(src="images/main/main_img05.png")
			li
				img(src="images/main/main_img06.png")
	#person
		.uni-width
			.block1
				img(src="images/main/main_1_btn_img.png")
			.block2
				img(src="images/main/main_2_btn_img.png")
			.block3
				img(src="images/main/main_3_btn_img.png")
			.block4
				img(src="images/main/main_4_btn_img.png")
			.avar
				img(src="images/main/circle_img.png")
			.title-container
				h1.text-center 늘 성실한 일꾼 홍문종입니다
				h3.text-center 국민 여러분의 손과 발이 되겠습니
				div.text-center
					span.button 인사말 보기
	#social
		.uni-width.social-container
			.social-icons.text-center
				img(src="images/main/all_btn_fabook.png")
				img(src="images/main/all_btn_twit.png")
				img(src="images/main/all_btn_navblog.png")
				img(src="images/main/all_btn_kakaostory.png")
			.title
				h3 홍문종 활동
	#activities
		.uni-width
			.fluid-container
				.row.activities-title
					.col-xs-6
						img(src="images/main/main_title_activity.png")
					.col-xs-6.text-right
						img(src="images/main/all_more_btn.png")
				.row.activities-articles
					.col-xs-4.article-block
						.article-block-image
							img.img-responsive(src="images/main/310x200.gif")
						.article-block-content
							.article-block-content-title 이런 나라를 만들기 위해
							p 이런 나라를 만들기 위해 박근혜정부는 경제부흥, 국민행복, 문화융성의 세 가지 가치를 국민과 함께 실현해갈 것입니다. 경제를 다시 일으켜서 국민의 삶을 넉넉하게 하고, 촘촘한 복지와 꿈과 끼를 살리는 교육으로 국민의 삶을 편안하고 행복하게 만들며, 우리의 소중한 문화와
					.col-xs-4.article-block
						.article-block-image
							img.img-responsive(src="images/main/310x200.gif")
						.article-block-content
							.article-block-content-title 이런 나라를 만들기 위해
							p 이런 나라를 만들기 위해 박근혜정부는 경제부흥, 국민행복, 문화융성의 세 가지 가치를 국민과 함께 실현해갈 것입니다. 경제를 다시 일으켜서 국민의 삶을 넉넉하게 하고, 촘촘한 복지와 꿈과 끼를 살리는 교육으로 국민의 삶을 편안하고 행복하게 만들며, 우리의 소중한 문화와
					.col-xs-4.article-block
						.article-block-image
							img.img-responsive(src="images/main/310x200.gif")
						.article-block-content
							.article-block-content-title 이런 나라를 만들기 위해
							p 이런 나라를 만들기 위해 박근혜정부는 경제부흥, 국민행복, 문화융성의 세 가지 가치를 국민과 함께 실현해갈 것입니다. 경제를 다시 일으켜서 국민의 삶을 넉넉하게 하고, 촘촘한 복지와 꿈과 끼를 살리는 교육으로 국민의 삶을 편안하고 행복하게 만들며, 우리의 소중한 문화와
	#news
		.uni-width
			.fluid-container
				.row.news-title
					.col-xs-6
						img(src="images/main/main_title_news.png")
					.col-xs-6.text-right
						img(src="images/main/all_more_btn.png")
				.row.news-articles
					.col-xs-4.article-block
						.article-block-image
							img.img-responsive(src="images/main/310x200.gif")
						.article-block-content
							.article-block-content-title 이런 나라를 만들기 위해
							p 이런 나라를 만들기 위해 박근혜정부는 경제부흥, 국민행복, 문화융성의 세 가지 가치를 국민과 함께 실현해갈 것입니다. 경제를 다시 일으켜서 국민의 삶을 넉넉하게 하고, 촘촘한 복지와 꿈과 끼를 살리는 교육으로 국민의 삶을 편안하고 행복하게 만들며, 우리의 소중한 문화와
					.col-xs-4.article-block
						.article-block-image
							img.img-responsive(src="images/main/310x200.gif")
						.article-block-content
							.article-block-content-title 이런 나라를 만들기 위해
							p 이런 나라를 만들기 위해 박근혜정부는 경제부흥, 국민행복, 문화융성의 세 가지 가치를 국민과 함께 실현해갈 것입니다. 경제를 다시 일으켜서 국민의 삶을 넉넉하게 하고, 촘촘한 복지와 꿈과 끼를 살리는 교육으로 국민의 삶을 편안하고 행복하게 만들며, 우리의 소중한 문화와
					.col-xs-4.article-block
						.article-block-image
							img.img-responsive(src="images/main/310x200.gif")
						.article-block-content
							.article-block-content-title 이런 나라를 만들기 위해
							p 이런 나라를 만들기 위해 박근혜정부는 경제부흥, 국민행복, 문화융성의 세 가지 가치를 국민과 함께 실현해갈 것입니다. 경제를 다시 일으켜서 국민의 삶을 넉넉하게 하고, 촘촘한 복지와 꿈과 끼를 살리는 교육으로 국민의 삶을 편안하고 행복하게 만들며, 우리의 소중한 문화와
	#thinking
		.uni-width.thinking
			.fluid-container
				.row.thinking-title
					.col-xs-6
						img(src="images/main/main_title_thinking.png")
					.col-xs-6.text-right
						img(src="images/main/all_more_btn.png")
				.row.thinking-item
					.col-xs-2.thinking-item-label
						span 이런 나라를 만
					.col-xs-10.thinking-item-body
						p 이런 나라를 만들기 위해 박근혜정부는 경제부흥, 국민행복, 문화융성의 세 가지 가치를 국민과 함께 실현해갈 것입니다. 경제를 다시 일으켜서 국민의 삶을 넉넉하게 하고, 촘촘한 복지와 꿈과 끼를 살리는
				.row.thinking-item
					.col-xs-2.thinking-item-label
						span 이런 나라를 만
					.col-xs-10.thinking-item-body
						p 이런 나라를 만들기 위해 박근혜정부는 경제부흥, 국민행복, 문화융성의 세 가지 가치를 국민과 함께 실현해갈 것입니다. 경제를 다시 일으켜서 국민의 삶을 넉넉하게 하고, 촘촘한 복지와 꿈과 끼를 살리는
				.row.thinking-item
					.col-xs-2.thinking-item-label
						span 이런 나라를 만
					.col-xs-10.thinking-item-body
						p 이런 나라를 만들기 위해 박근혜정부는 경제부흥, 국민행복, 문화융성의 세 가지 가치를 국민과 함께 실현해갈 것입니다. 경제를 다시 일으켜서 국민의 삶을 넉넉하게 하고, 촘촘한 복지와 꿈과 끼를 살리는
	#first-footer
		.uni-width
			.fluid-container
				.row
					.col-xs-6.first-footer-slogan
						img.img-responsive(src="images/main/main_slogan_footer.png")
					.col-xs-6.first-footer-contact
						img.img-responsive(src="images/main/main_footer_donate_btn.png")
	#second-footer
		.uni-width.second-footer
			.fluid-container
				.row
					.col-xs-4
						img.img-responsive(src="images/main/logo_footer.png")
					.col-xs-8
						p 이런 나라를 만들기 위해 박근혜정부는 경제부흥, 국민행복, 문화융성의 세 가지 가치를 국민과 함께 실현해갈 것입니다. 경제를 다시 일으켜서
